[submodule "depend/jerryscript"]
	path = depend/jerryscript
	url = https://github.com/jerryscript-project/jerryscript.git
[submodule "depend/lwip"]
	path = depend/lwip
	url = https://git.savannah.gnu.org/git/lwip.git
[submodule "depend/lwip-contrib"]
	path = depend/lwip-contrib
	url = https://git.savannah.nongnu.org/git/lwip/lwip-contrib.git
